@font-face {
  font-family: 'Ionicons';
  src: url('/fonts/Ionicons.ttf') format('truetype');
}

@font-face {
  font-family: 'MaterialIcons';
  src: url('/fonts/MaterialIcons.ttf') format('truetype');
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('/fonts/MaterialCommunityIcons.ttf') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/FontAwesome.ttf') format('truetype');
} 